


/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/

header {
    padding: 20px;
    background-color: #ddd;
    text-align: center;
    width: 100%;
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}


/*----------- MAIN --------------*/

.wf1 legend{
    color: rgb(98, 98, 207);
    padding: 0 .5rem;
}


.wf1 label{
    color: rgb(175, 0, 0);
    font-size: .9rem;
    padding: 5px;
}

.wf1 div{
    color: rgb(98, 98, 207);
    font-size: .9rem;
}

.wf1 textarea
{
    background-color: #eee;
    display:block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: 60px;
    color: #555;
    width: 100%;
    max-width: 600px;
    appearance: none;
}

.wf1 input[type="text"],
.wf1 input[type="date"],
.wf1 select
{
    background-color: #eee;
    display:block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.wf1 input[type="radio"],
.wf1 input[type="checkbox"]{
    margin-right: 10px;
}

.wf1 input[type="submit"]{
    border: none;
    background-image: linear-gradient(rgb(175, 0, 0),rgb(117, 0, 0));
    color: white;
    border-radius: 6px;
    padding: .8rem;
    width: 95%;
    max-width: 600px;
    margin: 1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
}

main {
    padding: 0 2%;
    min-height: 20rem;
}

label {
  display: block;
  margin-bottom: 5px; /* Cria um espaço entre as linhas */
}


.wf1 input:required{
    border-bottom: solid 5px red;
}

.wf1 input:required:valid{
    border-bottom: solid 5px green;
}


/* CONSERTO DO RATING (DEVE FICAR NO FINAL DO ARQUIVO) */
.wf1 .rating-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-end;
    margin: 10px 0 20px 0;
    text-align: center;
}


/*----------- FOOTER --------------*/
footer {
    background-color: #ddd;
    padding: .5rem 2%;
    text-align: center;
}

/*----------- MEDIA QUERIES --------------*/
@media (min-width: 600px) {
  main {
    max-width: 800px;
    margin: 0 auto;
  }

  .wf1 input[type="submit"] {
    width: auto;
    padding: 0.8rem 2rem;
  }
}
