@media screen and (min-width: 500px) {
    header, body, footer{
        width: 1200px;
    }

    .data h2{     
        background-color:   var(--primary-color);
        padding: 20px;
        color: rgba(255, 255, 255, 0.8);
        text-align: left;
    }

    .data {
        position: absolute;
        bottom: 400px;
        left: 60px;
        right: 20px;
        background-color: var(--primary-color);
        background-color: white;
        padding: 16px;
        width: 300px;
        opacity: 0.9;
    }

    .weather {
        position: absolute;
        bottom: 100px;
        left: 800px;
        right: 20px;
        background-color: var(--primary-color);;
        background-color: white;
        padding: 16px;
        width: 300px;
        opacity: 0.8;
        
    }
    
    .weather h2{     
        background-color:  var(--primary-color);
        padding: 20px;
        color: white;
        text-align: left;
    }

    .weather img{
        position: absolute;
        top: 25px;
        right: 20px;
    }
    main{
        position: relative;
    }
}


